<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rock Paper Scisor: The Game</title>
    <link rel="stylesheet" href="css/game-styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  </head>
  <body class="main">
    <div id="con-1" class="container">
      <div class="row mt-sm-1 mb-sm-1">
        <div class="col d-flex flex-row align-content-center">
          <a href="#"><img src="img/logo 1.png" class="rounded float-start" style="height: 3.5rem;" alt="logo" /></a>
          <h1 id="title" class="ms-sm-3 mt-sm-2">ROCK PAPER SCISOR</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row" style="height:85vh;">
        <div id="colPlayer" class="col d-flex flex-column justify-content-evenly align-items-end">
          <h3 class="fw-bolder">PLAYER 1</h3>
          <img id="p-rock" src="img/batu.png" alt="batu-p" style="height: 6.5rem; width:6.5rem;">
          <img id="p-paper" src="img/kertas.png" alt="kertas-p" style="height: 6.5rem; width:6.5rem;">
          <img id="p-scissor" src="img/gunting.png" alt="gunting-p" style="height: 6.5rem; width:6.5rem;">
        </div>
        <div id="final-result" class="col-sm-3 d-flex flex-column align-items-center">
          <h1 id="ubah-gambar" class="fw-bolder my-sm-auto vs">VS</h1>
          <img src="img/refresh.png" alt="batu-c" style="height: 3rem; width:3rem;">
        </div>
        <div id="colcomp" class="col d-flex flex-column justify-content-evenly align-items-start">
          <h3 class="text-start fw-bolder">COM</h3>
          <img id="c-rock" src="img/batu.png"  alt="batu-c" style="height: 6.5rem; width:6.5rem;">
          <img id="c-paper" src="img/kertas.png" alt="kertas-c" style="height: 6.5rem; width:6.5rem;">
          <img id="c-scissor" src="img/gunting.png" alt="gunting-c" style="height: 6.5rem; width:6.5rem;">
        </div>
      </div>
    

    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
