<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/home-styles.css" />
  </head>
  <body>
    <!--Home-->
    <section class="bg-img" style="background-image: url('./img/main-bg.jpg')">
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm opacity-50">
        <div class="container">
          <a class="navbar-brand" href="#">LOGO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item me-4">
                <a class="nav-link active" aria-current="page" href="#">HOME</a>
              </li>
              <li class="nav-item me-4">
                <a class="nav-link" href="#">WORK</a>
              </li>
              <li class="nav-item me-4">
                <a class="nav-link" href="#">CONTACT</a>
              </li>
              <li class="nav-item me-4">
                <a class="nav-link" href="#">ABOUT ME</a>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">SIGN UP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">LOGIN</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!--Akhir Navbar-->
      <div class="container">
        <div class="row d-flex flex-row justify-content-center pb-0">
          <div class="col text-center d-flex flex-column justify-content-center align-items-center" style="height:100vh;">
              <h1 class="text-white fw-bold text-center">PLAY TRADITIONAL GAME</h1>
              <p class="text-white fw-light text-center">Experience new traditional gameplay</p>
              <a href="/login" type="button" class="btn btn-lg fw-bold d-grid gap-2 col-3 mx-auto mt-4 mb-5" style="background-color: orange; font-size: 18px;">PLAY NOW</a>
              <p class="mb-0 mt-5 text-white" style="font-size: 0.75em;">THE STORY</p>
              <a href="#"><svg width="23" height="12" viewBox="0 0 23 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.5786 1.83362H1.32422L11.338 10.0027L21.5786 1.83362Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg></a>
          </div>
        </div>
      </div>
    </section>
    <!--Akhir Home-->



    <!--Awal The Games Section-->
    <section class="bg-img" style="background-image: url('./img/the-games-bg.jpg')">
      <div class="container">
        <div class="row d-flex align-content-center align-items-start" style="height: 100vh;">
          <div class="col text-end">
            <p class="text-white fw-light mb-0">What's so special?</p>
            <h1 class="text-white fw-bold">THE GAMES</h1>
          </div>
          <div class="col-8">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
              <ol class="carousel-indicators" id="myCarousel-indicators">
                <li type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></li>
                <li type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></li>
                <li type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></li>
                <li type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></li>
                <li type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="./img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="gunting kertas batu">
                </div>
                <div class="carousel-item active">
                  <img src="./img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="gunting kertas batu 1">
                </div>
                <div class="carousel-item active">
                  <img src="./img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="gunting kertas batu 2">
                </div>
                <div class="carousel-item active">
                  <img src="./img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="gunting kertas batu 3">
                </div>
                <div class="carousel-item active">
                  <img src="./img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="gunting kertas batu 4">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Akhir The Games Section-->



    <!--Awal Features Section-->
    <section class="bg-img" style="background-image: url('./img/features.jpg')">
      <div class="container justify-content-start">
        <div class="row d-flex align-content-center">
          <div class="col-6">
            <!--Kosongan-->
          </div>
          <div class="col-md-6 offset-md-6 d-flex flex-column align-content-start justify-content-center" style="height: 100vh;">
            <p class="text-white mb-1" style="margin-left: 1.2rem;">What's so special?</p>
            <h1 class="text-white mb-4" style="margin-left: 1.2rem;">FEATURES</h1>
            <ul class="timeline-3">
              <li>
                <h5 style="color:orange">TRADITIONAL GAME</h5>
                <p class="text-white mt-2">If you miss your childhood, we provide many traditional games here</p>
              </li>
              <li>
                <h5 style="color:orange">GAME SUIT</h5>
                <p class="text-white mt-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
              </li>
              <li>
                <h5 style="color:orange">PETAK UMPET</h5>
                <p class="text-white mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi facilis eveniet nihil!</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
          </div>
    </section>
    <!--Akhir Features Section-->



    <!--Awal System Requirements Section-->
    <section class="bg-img" style="background-image: url('./img/requirements.png')">
      <div class="container">
        <div class="row align-items-center" style="height: 40vh;">
          <div class="col d-flex flex-column text-white">
            <h1>SYSTEM</h1>
            <h1>REQUIREMENTS</h1>
          </div>
          <div class="col-6">
            <!--kosongan-->
          </div>
        </div>
        <div class="row">
          <div class="col border border-secondary">
            <p class="mt-2 fw-bold" style="color:orange;">OS:</p>
            <p class="text-white">Windows 7 64-bit only (No OSX support at this time)</p>
          </div>
          <div class="col border-top border-bottom border-end border-secondary">
            <p class="mt-2 fw-bold" style="color:orange;">PROCESSOR:</p>
            <p class="text-white">Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
          </div>
          <div class="col-6">
            <!--Kosongan-->
          </div>
        </div>
        <div class="row">
          <div class="col border-start border-end border-secondary">
            <p class="mt-2 fw-bold" style="color:orange;">MEMORY:</p>
            <p class="text-white">4 GB RAM</p>
          </div>
          <div class="col border-end border-secondary">
            <p class="mt-2 fw-bold" style="color:orange;">STORAGE:</p>
            <p class="text-white">8 GB available space</p>
          </div>
          <div class="col-6">
            <!--Kosongan-->
          </div>
        </div>
        <div class="row">
          <div class="col border border-secondary">
            <p class="mt-2 fw-bold" style="color:orange;">GRAPHICS:</p>
            <p class="text-white">NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
          </div>
          <div class="col-6">
            <!--Kosongan-->
          </div>
        </div>
      </div>
    </section>

    <!--Akhir System Requirements Section-->


    <!--Top Score Section-->
    <section class="bg-img" style="background-image: url('./img/top-score-bg.png')">
      <div class="container">
        <div class="row" style="height:30vh">
          <div class="col">
          </div>
          <div class="col d-flex justify-content-end align-items-end">
            <div class="card bg-dark rounded-3" style="width: 21.5rem; height: 10rem;">
              <div class="card-body">
                <div class="d-flex bd-highlight mb-0">
                  <div class="p-2 bd-highlight"><img src="./img/evan-lahti.jpg" class="img-fluid d-inline border border-2 border-warning" alt="evan" style="height:3em; border-radius: 50%;"></div>
                  <div class="p-2 bd-highlight"><h5 class="card-title d-inline-flex" style="color:orange;">Evan Lahti</h5><h6 class="card-subtitle d-block mb-3 text-secondary">PC Gamer</h6></div>
                  <div class="ms-auto p-2 bd-highlight"><img src="./img/twitter-card.png" class="img-fluid d-inline" alt="twevan" style="height:1em;"></div>
                </div>
                <p class="card-text text-white fw-light">"One of my gaming highlights of the year"</p>
                <p class="card-text text-secondary" style="font-size: 0.75em;">October 18, 2018</p>
              </div>
            </div>
          </div>  
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
              <h1 class="text-white">TOP SCORES</h1>
              <p class="mt-1 text-white mb-3" style="width: 60%;">This top score from various games provided on this platform</p>
              <div class="btn btn-lg fw-bold gap-2 col-5 mt-2" style="background-color:orange; font-size: 16px;">see more</div>
          </div>
          <div class="col d-flex justify-content-start align-items-center my-4">
            <div class="card bg-dark rounded-3" style="width: 21.5rem; height: 11.5rem;">
              <div class="card-body">
                <div class="d-flex bd-highlight mb-0">
                  <div class="p-2 bd-highlight"><img src="./img/jada-griffin.jpg" class="img-fluid d-inline border border-2 border-warning" alt="jada" style="height:3em; border-radius: 50%;"></div>
                  <div class="p-2 bd-highlight"><h5 class="card-title" style="color:orange;">Jada Griffin</h5><h6 class="card-subtitle mb-3 text-secondary">Nerd Reactor</h6></div>
                  <div class="ms-auto p-2 bd-highlight"><img src="./img/twitter-card.png" class="img-fluid d-inline" alt="twjada" style="height:1em;"></div>
                </div>
                <p class="card-text text-white fw-light">"The next big thing in the world of streaming and survival games."</p>
                <p class="card-text text-secondary" style="font-size: 0.75em;">December 21, 2018</p>
              </div>
            </div>
          </div> 
        </div>
      </div>
      <div class="container">
        <div class="row" style="height:30vh">
          <div class="col">
          </div>
          <div class="col d-flex justify-content-center align-items-start">
            <div class="card bg-dark rounded-3" style="width: 20rem; height: 11.5rem;">
              <div class="card-body">
                <div class="d-flex bd-highlight mb-0">
                  <div class="p-2 bd-highlight"><img src="./img/aaron-williams.jpg" class="img-fluid d-inline border border-2 border-warning" alt="aaron" style="height:3em; border-radius: 50%;"></div>
                  <div class="p-2 bd-highlight"><h5 class="card-title" style="color:orange;">Aaron Williams</h5><h6 class="card-subtitle mb-3 text-secondary">Uproxx</h6></div>
                  <div class="ms-auto p-2 bd-highlight"><img src="./img/twitter-card.png" class="img-fluid d-inline" alt="twaaron" style="height:1em;"></div>
                </div>
                <p class="card-text text-white fw-light">"Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous"</p>
                <p class="card-text text-secondary" style="font-size: 0.75em;">December 24, 2018</p>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </section>
    <!--Akhir Top Score Section-->
    
    
    <!--Awal Newsletter Section-->
    <section class="bg-img" style="background-image: url('./img/newsletter.png')">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-5 pt-5 d-flex justify-content-end">
            <img src="./img/skull.png" class="img-fluid shadow-lg" alt="tengkorak" style="height: 70vh; background-blend-mode: darken;">
          </div>
          <div class="col">
            <h3 class="text-white" style="font-size: 18px; width:20%;">Want to stay in touch?</h3>
            <h1 class="text-white" style="width:30%;">NEWSLETTER SUBSCRIBE</h1>
            <p class="text-white text-start lead" style="font-size: 18px;">In order to start receiving our news, all you have to do is enter your email address.
              Everything else will be taken care of by us. We will send you emails containing information about game.
              We don't spam.
            </p>
            <div class="container-md">
              <div class="row">
                <div class="col">
                  <div class="container-sm bg-dark rounded" style="height: 90%; width: 100%;">
                    <p class="text-secondary mb-0">Your email address</p>
                    <p style="color: orange;">youremail@binar.co.id</p>
                  </div>
                </div>
                <div class="col-5">
                  <button type="button" class="btn fw-bold" style="height: 90%; width: 100%; background-color: orange;">Subscribe now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="d-flex flex-wrap justify-content-end align-items-center py-2 my-3 border-bottom border-dark">
          <ul class="nav justify-content-center">
            <li class="nav-item"><a href="#" class="nav-link mx-2 text-white">MAIN</a></li>
            <li class="nav-item"><a href="#" class="nav-link mx-2 text-white">ABOUT</a></li>
            <li class="nav-item"><a href="#" class="nav-link mx-2 text-white">GAME FEATURES</a></li>
            <li class="nav-item"><a href="#" class="nav-link mx-2 text-white">SYSTEM REQUIREMENTS</a></li>
            <li class="nav-item"><a href="#" class="nav-link mx-2 text-white">QUOTES</a></li>
          </ul>
          <ul class="nav justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#"><svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6.65382 19.1726H2.56282V9.67859H0.517822V6.40559H2.56282V4.44159C2.56282 1.77259 3.71782 0.183594 6.99582 0.183594H9.72582V3.45659H8.02082C6.74282 3.45659 6.65882 3.91459 6.65882 4.76859L6.65382 6.40559H9.74582L9.38382 9.67859H6.65382V19.1726Z" fill="white"/>
              </svg></use></svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.3" d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z" fill="white"/>
              </svg>
              </a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M20.61 0.183594H5.98961C3.12627 0.183594 0.799805 2.55085 0.799805 5.4644V12.8973C0.799805 15.8163 3.12627 18.1781 5.98961 18.1781H20.6046C23.4733 18.1781 25.7944 15.8108 25.7944 12.8973V5.4644C25.7998 2.55085 23.4733 0.183594 20.61 0.183594ZM17.0959 9.54779L10.2575 12.8642C10.0731 12.9524 9.86705 12.82 9.86705 12.6103V5.7679C9.86705 5.55821 10.084 5.42578 10.2629 5.51958L17.1013 9.04564C17.3074 9.15048 17.302 9.44846 17.0959 9.54779Z" fill="#FF1313"/>
              </svg></a></li>
            <li class="ms-3"><a class="text-muted" href="#"><svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9602 13.6252V9.5538V0.680176H2.93894L0.811279 2.97688V15.0868H6.13043V18.845H8.47085L11.024 16.1307H17.407L19.9602 13.6252ZM7.40694 13.4165H4.00268C3.76864 13.4165 3.57715 13.2286 3.57715 12.9989V2.76817C3.57715 2.5385 3.76864 2.35059 4.00268 2.35059H17.6197C17.8537 2.35059 18.0452 2.5385 18.0452 2.76817V10.7022C18.0452 10.8171 18.0027 10.9215 17.9229 10.9998L15.5825 13.2965C15.5027 13.3748 15.391 13.4165 15.2793 13.4165H11.3697L8.07183 15.6401C8.00268 15.6871 7.91757 15.7132 7.83247 15.7132C7.76332 15.7132 7.69949 15.6976 7.63566 15.6662C7.49204 15.5932 7.40694 15.4522 7.40694 15.2956V13.4165Z" fill="white"/>
              <path d="M13.79 9.76274V5.58691H12.0878V9.76274H13.79ZM9.53465 9.76274V5.58691H7.83252V9.76274H9.53465Z" fill="white"/>
              </svg>
              </a></li>
          </ul>
        </div>
      </div>
      <!-- Awal Footer-->
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <p class="col mb-0 text-secondary">© 2018 Your Games, Inc. All Rights Reserved</p>
          <ul class="nav col justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">PRIVACY POLICY</a></li>
            <li class="nav-item"><a href="#" class="nav-link disabled px-2 text-white">|</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">TERMS OF SERVICES</a></li>
            <li class="nav-item"><a href="#" class="nav-link disabled px-2 text-white">|</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">CODE OF CONDUCT</a></li>
          </ul>
        </div>
      </div>
      <!--Akhir Footer-->
    </section>
    <!--Akhir Newsletter Section-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
