.bg-img {
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Open Sans";
}

h1 h2 h3 {
  font-family: "Bebas Neue";
}

#myCarousel-indicators > li {
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

ul.timeline-3 {
  list-style-type: none;
  position: relative;
}
ul.timeline-3:before {
  content: " ";
  background: #ffffff;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline-3 > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline-3 > li:before {
  content: " ";
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #e7eaeb;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
